<h1>List of all genres</h1>

<h3><%= link_to "Create a new genre", new_genre_path %></h3>

<% @genres.each do |genre| %>
  <p><%= link_to genre.name, genre_path(genre) %></p>
<% end %>

<p><%= link_to "See all songs", songs_path %></p> 
<p><%= link_to "See all artists", artists_path %></p>